<div class="bgimg">
        <div class="nav">
          <a routerLink='/signin'>Sign In</a>
          <a>|</a>
          <a routerLink='/contactus'>Contact Us</a>
        </div> 
        <div class="search">
            <div id='s2'>
              <button type="submit">
                <img src="../../assets/images/searchicon.png"/>
              </button>
            </div>
            <input type="text" placeholder="Search for a great book" id='s1'/>
        </div>
        <div style=color:white;font-weight:bolder id="s3">
          <h2><i> Books that </i></h2>
          <h1><i>Speak</i></h1>
          <h2><i>to you </i></h2>
        </div>
        <div id="s4">
          <h4>The easiest way to read, is to listen</h4>
        </div>
        <div id='s5'>
          <button type="button">Start your free trail now</button>
        </div>
        <div id="s6">
    <h4>First audio book is free with monthly plan</h4>
        </div>
    </div>
    
