.bgimg {
    background-image: url("../../assets/images/audible_background.jfif");
    min-height: 570px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .nav {
    overflow: hidden;
  }
  .nav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
  }
  #s1{
      float:right;
      height:17px;
      margin:.8em 0 0 0; 
      outline:0;
      padding:.4em 0  0 .5em; 
      width:183px; 
      height: 30px;
      border:0;
  }
  #s2{
      background-color:#f1f1f1;
      cursor:pointer;
      float:right;
      height:27px;
      margin:11px 0 0 0;
      text-align:center;
      width:30px;
  }
  #s2 img{
      width:30px; 
  }
  #s2 button {
      width:30px;
      padding: 0;
      border: 1;
      height: 30px;
  }
  ​
  #s3 h1, #s3 h2 {
      padding:0;
      margin:0;
      font-weight:800;
      font-display: none;
      margin-left: 150px;
  }
    h1 i {
        font-size: 5.0rem;
        padding-left:80px;
    }
    h2 i {
        font-size: 3.6rem;
        padding-left:50px;
    }
    #s4 h4 {
        color: grey;
        font-size: 2rem;
        margin-left:110px;
        margin-top:40px;
    }
    #s5 button {
        background-color: orange;
        color: white;
        margin-left: 200px;
        margin-top: 200px;
        width:250px;
        height:30px;
        border-radius: 20px 20px;
        border:0;
    }
    #s6 h4 {
      color: grey;
      font-size: 1.3rem;
      margin-left:200px;
      margin-top:30px;
  }