<div class="sec2">
        <div id="b1">
        <h2 align="center">What is Audible ?</h2>
        </div>
        <div class="container">
          <div class="row">
            <div class="column">
              <div class="c1">
                <img src="https://m.media-amazon.com/images/G/31//AudibleIN/2018/audibleweb/October/devices_icons_audible_orange._CB1198675309_.svg">
              </div>
              <h4>Listen anywhere, anytime</h4>
              <p>
                Listen to your favourite books wherever you <br>are with
                the free Audible app - in a car, on <br>a run or even
                when ironing!
              </p>
            </div>
            <div class="column">
                <div class="c1">
                  <img src="https://images-na.ssl-images-amazon.com/images/G/01/Audible/en_US/images/creative/landing/002_WhatIsAudible_icon2_mr3.svg">
                </div>
                <h4>World class narrations</h4>
                <p>
                    Great books narrated by great performers.<br>
                    With over 200,000 audiobooks, you are<br> sure to find the perfect listen.
                  </p>
              </div>
              <div class="column">
                  <div class="c1">
                    <img src="https://m.media-amazon.com/images/G/31//AudibleIN/2018/audibleweb/October/amazon_logo_svg_file._CB1198675309_.svg">
                  </div>
                  <h4>An amazon company</h4>
                  <p>
                      Audible is a trusted Amazon company with<br> millions of
                       users globally so you can count <br>on privacy, security and satisfaction.
                    </p>
                </div>
          </div>
        </div>
        <div id="b2"align="center">
          <button type="button">Start your free trail now</button>
          <h6>₹199 per month after 30-day trial. Cancel anytime.</h6>
        </div>
        </div>
    
