<div class="bgimg">
        <div id="s1">
        <h2>What do you get as a member ?</h2>
            <ul>
                <li>
                    <h3>1 credit a month</h3>
                    <p>Use on any audiobook regardless of the price.</p>
                </li>
                <li>
                 <h3>You own your audiobooks </h3>
                     <p>All the audiobooks in your Audible library are
                 yours to keep,<br> even if you cancel the membership.</p>
                </li>
                 <li>
                     <h3>Easy exchanges</h3>
                     <p>Didn't like your audiobook? Swap it for free.</p>
                 </li>
                 <li>
                     <h3>Exclusive member-only savings</h3>
                     <p>Get 30% off on additional audiobooks.</p>
                 </li>
            </ul>
    
    <div id="b2">
            <button type="button">Start your free trail now</button>
            <h6>₹199 per month after 30-day trial. Cancel anytime.</h6>
          </div>
        </div>
</div>
