<div>
        <div class="row">
            <div class="column">
                <div id="b1">
                <h1>Listening is easy</h1>
                <p>Download the Audible app and listen to your books wherever you are.<br>
                        Even if you switch devices, you'll never lose your place.
                </p>
            </div>
                 <div id="b2"align="center">
                <button type="button">Download the app</button>
                </div>
            </div>
            <div class="column">
                <img src="../../assets/images/audiobook.jfif">
            </div>
        </div>
    </div>