<footer id="s1">
        <div class="row">
            <div class="column">
            <h6><a href="#contact">Contact Us</a></h6>
            <h6><a href="#help">Help</a></h6>
             <h6><a href="#howtolisten">How to Listen</a></h6>
             <h6><a href="#listeningapps">Listening Apps</a></h6>
             <h6><a href="#mobilesite">Mobile Site</a></h6>
            </div>
            <div class="column">
                   <h6><a href="#facebook">Facebook</a></h6>
                   <h6><a href="#twitter">Twitter</a></h6>
                   <h6><a href="#instagram">Instagram</a></h6>
                   <h6><a href="#">Learn more about Audible</a></h6>
                   <h6><a href="#">Learn more about membership</a></h6>
            </div>
            <div class="column">
                   <h6><a href="#">Best Sellers</a></h6>
                   <h6><a href="#">New Releases</a></h6>
                   <h6><a href="#">Indian Listens</a></h6>
                   <h6><a href="#">Harry Potter</a></h6>
                   <h6><a href="#">Audible Originals</a></h6>
           </div>
           <div class="column">
                   <h6><a href="#">Mysteries & Thrillers</a></h6>
                   <h6><a href="#">Romance</a></h6>
                   <h6><a href="#">Fiction</a></h6>
                   <h6><a href="#">Sci-Fi & Fantasy</a></h6>
                   <h6><a href="#">Self Development</a></h6>
           </div>
        </div>
        <hr>
        <div id="s2">
            <ul>
                <li>© Copyright 1997 - 2019 Audible, Inc</li>
                <li>|</li>
                <li>Conditions of Use</li>
                <li>|</li>
                <li>Privacy Policy</li>
                <li>|</li>
                <li>Interest Based Ads</li>
                <li>|</li>
                <li>Recurring Payment Terms</li>
                <li>|</li>
                <li>India (English)</li>
            </ul>
            
        </div>
       </footer>