footer {
    margin-top: 50px;
    background-color: whitesmoke;
    width:100%;
    }
    .row {
        margin-left:50px;
        
    }
    .column {
        float: left;
        width:25%;
        padding-left:50px;
        margin-top:20px;
    }
    a {
        color: black;
    }
    h6 {
        font-size: 13px;
    }
    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #ccc;
        margin-left:120px;
        margin-right: 120px;
        padding: 0;
    }
    #s2 {
        margin-left:100px;
    }
    ​
     ul li{
        display: inline-block;
        margin-left: 10px;
    }