
<!--
  <nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
        <a class="navbar-brand" href="#">AudioLibrary</a>
        <div class="topnav">
          <a href="#about">Sign In</a>
          <a href="#contact">Contact Us</a>
        </div>
  </nav>
  -->
  <div class="bg-img" style='background-image: "../../assets/images/audible_background.jfif";'>
        <div class="topnav">
          <a href="#Signin">Sign In</a>
          <a>|</a>
          <a href="#contactus">Contact Us</a>
        </div> 
        <div class="search">
            <input type="text" placeholder="Search for a great book" id='s1' height='10'/>
            <div id='s2'>
                <img src="../../assets/images/searchicon.png"/>
            </div>
        </div>
    </div>

    <app-display-books></app-display-books>
