<div class="flex-container howToStart">
        <div class="heading">
            <h2>How To Start?</h2>
        </div>
        <br>
        <div class='startingSteps'>
            <ul class='list-inline stepItems'>
                <li class='stepItem'>
                    <div class='stepWithImageAndText'>
                        <img src='https://m.media-amazon.com/images/G/01/Audible/en_US/images/creative/landing/020_AryaAnon_icon_1_test._CB1507759313_.svg' class='stepImage'>
                        <p>Log in securely with your Amazon account.</p>
                    </div>
                </li>
                <li class='stepItem'>
                        <div class='stepWithImageAndText'>
                            <img src='https://m.media-amazon.com/images/G/01/Audible/en_US/images/creative/landing/020_AryaAnon_icon_2_text._CB1507767166_.svg' class='stepImage'>
                            <p>Sign up for a free 30-day trial. Your first audiobook is free.</p>
                        </div>
                </li>
                <li class='stepItem'>
                        <div class='stepWithImageAndText'>
                            <img src='https://m.media-amazon.com/images/G/01/Audible/en_US/images/creative/landing/020_AryaAnon_icon_3_text._CB1507767166_.svg' class='stepImage'>
                            <p>Download the free Audible app and start listening!</p>
                        </div>
                </li>
            </ul>
        </div>
        <div class='startTrailSection'>
            <button class="button">Start your free trial now</button>
            <p class='buttonDescription'>₹199 per month after 30-day trial. Cancel anytime.</p>
        </div>
    </div>
    <br>
    <img src='https://m.media-amazon.com/images/G/31/AudibleIN/2018/audibleweb/October/anon_in_usecase_desktop_updated._CB480807156_.jpg' class='usecaseImage'>
